{% extends "base2.html" %}

{% block title %}Submit A Transaction{% endblock %}

{% block section_title %} {{ section_name }} {% endblock %}

{% block content %}

{% block top %}
<div class="box-header">
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
		<i class="fa fa-plus"></i> Make A Transaction
	</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="">
		<i class="fa fa-bookmark-o"></i> Transactions Report
	</button>
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="">
		<i style="color:red"class="fa fa-file-pdf-o"></i> Generate PDF
	</button>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="">
		<i class="fa fa-line-chart"></i> Graphical Summary
	</button>
	  
</div>
{% endblock top %}


<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
		<tr>
		<th>#</th>
		<th>TransactionID</th>
		<th>Amount</th>
		<th>Timestamp</th>
		<th>Recipient</th>
		<th></th>
			{% for transfer in transfers %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ payments.transcationId }}</td>
					<td>{{ payments.amount }}</td>
					<td>{{ payments.timestamp }}</td>
					<td> {{ payments.recipient }}</td>
					<td><a class="btn btn-default" href="">Edit</a> <a class="btn btn-danger" href="#">Delete</a></td>
				</tr>
			{% endfor %}
	</table>
	
</div>

{% endblock %}

{% block form %}<form action="{% url 'hyper:submit_transaction' %}" method=post >{% endblock form %}
	{% block add_form %}
	{{form.as_p}}
	{% csrf_token %}
{% endblock add_form %}

