{% extends "base2.html" %}

{% block title %}Add A Trucker {% endblock %}


{% block section_title %} {{ section_name }} {% endblock %}

{% block content %}

<div class="box">
        {% block top %}
        <div class="box-header">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                <i class="fa fa-plus"></i> Add Trucker
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="">
                <i class="fa fa-bookmark-o"></i> Trucker Report
            </button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="">
                <i style="color:red"class="fa fa-file-pdf-o"></i> Generate PDF
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="">
                <i class="fa fa-line-chart"></i> Graphical Summary
            </button>
              
        </div>
        {% endblock top %}

        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
            <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Contact</th>
            <th></th>
                {% for person in persons %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ person.firstName|add:' '|add:person.lastName }}</td>
                        <td>{{ person.balance }}</td>
                        <td>+256772300410</td>
                        <td><a class="btn btn-default" href="">Edit</a> <a class="btn btn-danger" href="#">Delete</a></td>
                    </tr>
                {% endfor %}
        </table>
        
    </div>

{% endblock content %}

<!-- Form used in the Modal -->

{% block form %}<form action="{% url 'account:add_trucker' %}" method=post >{% endblock form %}
        {% block add_form %}
            {{ user_form.as_p }}
            {{ trucker_form.as_p }}
            {% csrf_token %}
        {% endblock add_form %}
