{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Kodhi Login</title>
    
    <link href="{% static "Login/style.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  <style>
    body{
      font-family: 'Nanum Gothic', sans-serif;
    }
    </style>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="form_content">
          <h2>KODHI</h2>
          <p>Please click on the button on the right to login</p>
            
        </div>
          <div class="login_form">
          <h1>Sign In</h1>
          <br><br>

            <a href="{% url 'account:kodhi_login' %}" type="submit">
              <!-- <button>Log In </button> -->
              <input type="submit" name="" value="Login">
            </a>
          
        </div>
        </div>
    </section>

  </body>
</html>
